@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue-color: #4e72d0;
    --orange-color: #ef6300;
    --background-color: rgb(245, 246, 250);
    --light-font: #9a9a9a;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

main{
    padding: 10px;
}

h1, h2{
    padding: 5px;
}
.h-dr-discription  {
    margin: 5px;
}
div ul {
    padding-left: 25px;
}

div p:first-child {
    font-weight: bold;
}

@media (max-width: 520px) {
    .h-dr-discription  {
        margin-top: 15px;
    }
}